<h1>Achievement Tracker</h1>
<h3>Hey there, if you are looking to track your goals and achievements in a fun way you've come to the right place!</h3>
<p>If you do not have an account already, please sign up <%= link_to "here", new_user_path %></p>
<p>If you are returning and would like to login, please click <%= link_to "here", '/login'%></p>
<p>Or you can also log in with <%= link_to "Facebook", '/auth/facebook' %></p>
<h3>Good luck working on those goals!</h3>