<h1><%= user_name(@user) %>'s achievements</h1>
<ul>
  <% @achievements.each do |achievement| %>
    <li><%= achievement_status(achievement) %><%= achievement.title %> - <%= achievement.description %></li>
  <% end %>
</ul>